<div class="container">
  <div class="topbar">
    <div class="logo">
      <img src="/assets/images/saeGroupe.png" alt="SmartGo Logo" class="logo-img" />
      <h2>SmartGo</h2> 
    </div>
    <div class="search">
      <input type="text" id="search" placeholder="chercher ici" />
      <label for="search"><mat-icon>search</mat-icon></label>
    </div>
    <mat-icon>notifications</mat-icon>
    <div class="user">
      <img src="/assets/images/superad.webp" alt="Logo SmartGO" (click)="toggleLogoutMenu()" />
      <span *ngIf="userName">{{ userName }}</span>
      <span *ngIf="userRole" class="user-role-badge">{{ userRole }}</span>
  </div>
  <div class="logout-menu" [ngClass]="{'show': isLogoutMenuOpen}">
      <a routerLink="/profile">Profil</a>
      <a routerLink="/settings">Paramètres</a>
      <a (click)="logout()">Déconnexion</a>
  </div>
</div>
  </div>

  <div class="sidebar">
    <ul>
      <li>
        <a routerLink="/dashboard"><mat-icon>dashboard</mat-icon> <div>Dashboard</div></a>
      </li>
      <li>
        <a routerLink="/robots"><mat-icon>smart_toy</mat-icon> <div>Robot</div></a>
      </li>
      <li *ngIf="isSuperAdmin">
        <a routerLink="/machines"><mat-icon>build</mat-icon> <div>Machines</div></a>
    </li>
      <li>
        <a routerLink="/locations"><mat-icon>location_on</mat-icon> <div>Location</div></a>
      </li>
      <li>
        <a routerLink="/missions"><mat-icon>trending_up</mat-icon> <div>Mission</div></a>
      </li>
      <li>
        <a routerLink="/map"><mat-icon>map</mat-icon> <div>Map</div></a>
      </li>
   <li>
        <a routerLink="/settings"><mat-icon>settings</mat-icon> <div>Settings</div></a>
      </li>
      <li>
        <a routerLink="/help"><mat-icon>help</mat-icon> <div>Help</div></a>
      </li>
     
    </ul>
  </div>

  <div class="main">
    <div class="cards">
      <div class="card">
        <div class="card-content">
          <div class="number">8</div>
          <div class="card-name">Mission</div>
        </div>
        <div class="icon-box">
          <mat-icon>trending_up</mat-icon>
        </div>
      </div>

      <div class="card">
        <div class="card-content">
          <div class="number">54</div>
          <div class="card-name">Machines</div>
        </div>
        <div class="icon-box">
          <mat-icon>build</mat-icon>
        </div>
      </div>

      <div class="card">
        <div class="card-content">
          <div class="number">12</div>
          <div class="card-name">Locations</div>
        </div>
        <div class="icon-box">
          <mat-icon>location_on</mat-icon>
        </div>
      </div>

      <div class="card">
        <div class="card-content">
          <div class="number">1217</div>
          <div class="card-name">Robot</div>
        </div>
        <div class="icon-box">
          <mat-icon>smart_toy</mat-icon>
        </div>
      </div>
    </div>
    <div class="charts"></div>
  </div>
