/* Applique le fond à tout le composant */
:host {
    display: block;
    height: 100vh;
    width: 100vw;
    background-image: url('/assets/images/pngtree-agv-robots-sort-hundreds-of-parcels-efficiently-per-hour-with-3d-picture-image_5575634.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Conteneur principal */
.change-password-container { /* Classe spécifique pour le changement de mot de passe */
    width: 100%;
    max-width: 400px; /* Ajustez si nécessaire */
}

/* Wrapper pour le formulaire */
#wrapper {  /* Utilise le même wrapper que les autres formulaires */
    background: rgba(250, 250, 250, 0.15);
    box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px 50px;
    border: 10px solid rgba(255, 255, 255, 0.05);
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Titre (si vous voulez le même style que les autres titres) */
h2 { /* Style pour le titre h2 */
    color: rgba(96, 210, 245, 0.836); /* Couleur du titre */
    font-size: 2rem;
    margin-bottom: 20px;
}


/* Champs du formulaire */
.form-group label { /* Style pour les labels */
    display: block;
    padding: 10px 0px;
    font-size: 1.2rem;
    color: rgba(96, 210, 245, 0.836);
    font-weight: bold;
    text-align: left; /* Alignement du texte à gauche */
    width: 100%; /* Pour occuper toute la largeur disponible */
}

.form-group input[type="password"] { /* Style pour les inputs password */
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff0b;
    color: white;
    font-size: 1rem;
}

.form-group input::placeholder {
    color: #ffffffdb;
}

/* Bouton */
button[type="submit"] { /* Style pour le bouton submit */
    height: 40px;
    width: 100%;
    margin-top: 20px;
    border-radius: 25px;
    font-size: 1.2rem;
    background-color: transparent;
    color: rgba(96, 210, 245, 0.836);
    border: 1px solid white;
    cursor: pointer;
    transition: all 450ms;
}

button[type="submit"]:hover {
    background-color: rgba(96, 210, 245, 0.836);
    color: white;
}

/* Lien "Se connecter" */
.change-password-container p a {
    font-size: 1rem;
    color: rgba(96, 210, 245, 0.836);
    text-decoration: none;
    font-weight: bold;
}

.change-password-container p a:hover {
    text-decoration: underline;
}