<div class="signup-container">
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <div id="wrapper">
        <div class="logo-et-titre">
            <img src="/assets/images/saeGroupe.png" alt="Logo SmartGO" />
            <h1>SmartGO</h1>
        </div>
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <h3>S'inscrire</h3>

            <label for="username">Nom d'utilisateur</label>
            <input type="text" formControlName="username" placeholder="Entrez votre nom d'utilisateur" />

            <label for="email">Email</label>
            <input type="email" formControlName="email" placeholder="Entrez votre email" />

            <label for="password">Mot de passe</label>
            <input type="password" formControlName="password" placeholder="Entrez votre mot de passe" />

            <button type="submit" [disabled]="signupForm.invalid">S'inscrire</button>

            <div *ngIf="successMessage" class="success-message">
                {{ successMessage }}
            </div>
            <div *ngIf="errorMessage" class="error-message">
                {{ errorMessage }}
            </div>

            <div class="create-account">
                <span>Déjà un compte ?</span> <a routerLink="/login">Se connecter</a>
            </div>
        </form>
    </div>
</div>
