<div class="container">
  <div class="main"> <!-- Ajout d'une nouvelle div avec la classe .main -->
    <div class="header">
      <div class="title-container">
        <i class="fas fa-robot"></i> <h2>Gestion des Robots</h2>
      </div>
      <button class="add-robot-button" (click)="openAddRobotModal()">Ajouter Robot</button>
    </div>

    <!-- Modal Add Robot -->
    <div class="modal" *ngIf="showAddRobotModal">
      <div class="modal-content">
        <span class="close" (click)="closeAddRobotModal()">&times;</span>
        <h3>Ajouter un nouveau robot</h3>
        <form (ngSubmit)="saveRobot()">
          <div class="form-group">
            <label for="robotName">Nom du Robot</label>
            <input type="text" id="robotName" [(ngModel)]="newRobot.name" name="robotName" required>
          </div>
          <div class="form-group">
            <label for="robotStatus">Statut</label>
            <select id="robotStatus" [(ngModel)]="newRobot.status" name="robotStatus" required>
              <option [value]="'CONNECTED'">Connecté</option>
              <option [value]="'DISCONNECTED'">Déconnecté</option>
            </select>
          </div>
          <button type="submit" class="save-button">Enregistrer</button>
          <button type="button" class="cancel-button" (click)="closeAddRobotModal()">Annuler</button>
        </form>
      </div>
    </div>

    <!-- Modal Edit Robot -->
    <div class="modal" *ngIf="showEditRobotModal">
      <div class="modal-content">
        <span class="close" (click)="closeEditRobotModal()">&times;</span>
        <h3>Éditer le robot</h3>
        <form (ngSubmit)="saveEditedRobot()">
          <div class="form-group">
            <label for="robotName">Nom du Robot</label>
            <input type="text" id="robotName" [(ngModel)]="newRobot.name" name="robotName" required>
          </div>
          <div class="form-group">
            <label for="robotStatus">Statut</label>
            <select id="robotStatus" [(ngModel)]="newRobot.status" name="robotStatus" required>
              <option [value]="'CONNECTED'">Connecté</option>
              <option [value]="'DISCONNECTED'">Déconnecté</option>
            </select>
          </div>
          <button type="submit" class="save-button">Enregistrer</button>
          <button type="button" class="cancel-button" (click)="closeEditRobotModal()">Annuler</button>
        </form>
      </div>
    </div>

    <div class="search-container">
      <input type="text" id="myInput" (keyup)="searchTable()" placeholder="Rechercher des robots..." title="Tapez un nom de robot">
      <i class="fas fa-search search-icon"></i>
    </div>

    <table id="dataTable">
      <thead>
        <tr>
          <th>Nom du Robot</th>
          <th>Statut</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let robot of robots; let i = index">
          <td><i class="fas fa-robot robot-icon"></i> {{ robot.name }}</td>
          <td>
            <span [ngClass]="{'status-connected': robot.status === 'CONNECTED', 'status-disconnected': robot.status === 'DISCONNECTED'}">
              {{ robot.status === 'CONNECTED' ? 'Connecté' : 'Déconnecté' }}
            </span>
          </td>
          <td>
            <button class="action-button edit-button" (click)="editRobot(i)">
              <i class="fas fa-edit"></i>
            </button>
            <button class="action-button delete-button" (click)="deleteRobot(i)">
              <i class="fas fa-trash-alt"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
