/* Applique le fond à tout le composant */
:host {
    display: block;
    height: 100vh;
    width: 100vw;
    background-image: url('/assets/images/pngtree-agv-robots-sort-hundreds-of-parcels-efficiently-per-hour-with-3d-picture-image_5575634.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Conteneur principal */
.forget-container { 
    width: 100%;
    max-width: 400px; 
}

/* Wrapper pour le formulaire et le logo */
#wrapper {
    background: rgba(250, 250, 250, 0.15);
    box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px 50px;
    border: 10px solid rgba(255, 255, 255, 0.05);
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Titre */
.logo-et-titre {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.logo-et-titre img {
    width: 90px;
    height: auto;
}

.logo-et-titre h1 {
    font-size: 3em;
    color: rgba(240, 238, 237, 0.836);
    margin: 0;
}

/* Formulaire */
form h3 {
    color: rgba(96, 210, 245, 0.836);
    font-size: 2rem;
    margin-bottom: 20px;
}

form label {
    display: block;
    padding: 10px 0px;
    font-size: 1.2rem;
    color: rgba(96, 210, 245, 0.836);
    font-weight: bold;
}

form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff0b;
    color: white;
    font-size: 1rem;
}

form input::placeholder {
    color: #ffffffdb;
}

form button {
    height: 40px;
    width: 100%;
    margin-top: 20px;
    border-radius: 25px;
    font-size: 1.2rem;
    background-color: transparent;
    color: rgba(96, 210, 245, 0.836);
    border: 1px solid white;
    cursor: pointer;
    transition: all 450ms;
}

form button:hover {
    background-color: rgba(96, 210, 245, 0.836);
    color: white;
}

/* Styles pour les shapes (si vous les utilisez) */
.background .shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.success {
    color: green;
    font-weight: bold;
    background-color: #d4edda;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .error {
    color: red;
    font-weight: bold;
    background-color: #f8d7da;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .is-invalid {
    border: 1px solid red;
  }
  