<div class="forget-container">
    <div class="background">
      <div class="shape"></div>
      <div class="shape"></div>
    </div>
  
    <div id="wrapper">
      <div class="logo-et-titre">
        <img src="/assets/images/saeGroupe.png" alt="Logo SmartGO" />
        <h1>SmartGO</h1>
      </div>
  
      <!-- Notification -->
      <div *ngIf="message" [ngClass]="{'success': messageType === 'success', 'error': messageType === 'error'}">
        {{ message }}
      </div>
  
      <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
        <h3>Réinitialiser le mot de passe</h3>
  
        <label for="email">Email</label>
        <input 
          type="email" 
          formControlName="email" 
          id="email" 
          placeholder="Votre email" 
          autocomplete="email"
          [ngClass]="{'is-invalid': email?.invalid && (email?.dirty || email?.touched)}"
        />
  
        <!-- Message d'erreur -->
        <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="error-message">
          <small *ngIf="email?.errors?.['required']">L'email est obligatoire.</small>
          <small *ngIf="email?.errors?.['email']">Format email invalide.</small>
        </div>
  
        <button type="submit" [disabled]="forgetPasswordForm.invalid">Envoyer</button>
      </form>
    </div>
  </div>
  