<div class="login-container">
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <div id="wrapper">
        <div class="logo-et-titre">
            <img src="/assets/images/saeGroupe.png" alt="Logo SmartGO" />
            <h1>SmartGO</h1>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="signin()">
            <h3>Connecter</h3>

            <label for="user">Email</label>
            <input type="text" name="user" id="email"  placeholder="Enter Email" formControlName="email" required  />
        

            <label for="psw">password</label>
            <input type="password" name="psw" id="psw" placeholder="Enter Password" formControlName="password" required/>

            <div class="forgot-password">
                <a routerLink="/forgot-password">Mot de passe oublié ?</a>
            </div>

            <button type="submit">Se Connecter</button>

            <div class="create-account">
                <span>Pas de compte ?</span>
                <a routerLink="/signup">Créer un compte</a>
            </div>
        </form>
    </div>
</div>
