<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <div id="wrapper">
        <div class="logo-et-titre">
            <img src="/assets/images/saeGroupe.png" alt="Logo SmartGO" />
            <h1>SmartGO</h1>
        </div>  
        <form>
            <h3>Connecter </h3>
            <label for="user">Email </label>
            <input type="text" name="user" id="user" placeholder="Enter Email"ocomplete="email"/>
            <label for="psw">Mot de passe </label>
            <input type="password" name="psw" id="psw" placeholder="Enter Password" autocomplete="password" />
            <button>Se Connecter </button>
        </form>
    </div>
</body>