<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <div id="wrapper">
        <div class="logo-et-titre">
            <img src="/assets/images/saeGroupe.png" alt="Logo SmartGO" />
            <h1>SmartGO</h1>
        </div>
        <form>
            <h3>Connecter</h3>

            <label for="user">Email</label>
            <input type="text" name="user" id="user" placeholder="Enter Email" autocomplete="email" />

            <label for="psw">Mot de passe</label>
            <input type="password" name="psw" id="psw" placeholder="Enter Password" autocomplete="current-password" />

            <div class="forgot-password">
                <a routerLink="/forgot-password">Mot de passe oublié ?</a>
            </div>

            <button>Se Connecter</button>

            <div class="create-account">
                <span>Pas de compte ?</span> <a href="#">Créer un compte</a>
            </div>
        </form>

    </div>
</body>